<!doctype html>
<html>
<head>
    <link rel="icon" href="yoga.png">
    <title>Not Eligible</title>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/id/847300254/photo/calming-yoga.jpg?b=1&s=170667a&w=0&k=20&c=1I1Z1f9cYT5_gtjuPd1OtFhRSHbJ-XIUflUyeVtmr5o=");
            background-size: cover;
            
            font-family: sans-serif;
            text-align: center;
        }

        p {
            font-size: 1.5em;
            margin: 10% 0;
        }
    </style>
</head>
<body>
    <p>Sorry, you are not eligible to register for the yoga classes please growup and if your above 65 dont do yoga go and enjoy your life.</p>
</body>
</html>
